<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head th:replace="fragments/template :: headtag">
        <title>Portfy - Contact</title>
    </head>

    <body>
        <center>
            <h2>Portfy</h2>
            <div class="card">
                <!-- Card Title -->  
                <div class="card-title">
                    <h3>[[${usr.firstname + " " + usr.lastname}]]</h3>
                </div>
                <!-- Card Body -->  
                <div class="card-body">
                    <div class="card-content">
                        <p th:text="'Email: ' +  ${usr.email}" th:if="${usr.email}">
                            Email: user@email.com
                        </p>
                        <p th:text="'Phone: +' +  ${usr.contact.countryCode} + ' (' + ${usr.contact.stateCode} + ') ' + ${usr.contact.cellphone}"  th:if="${usr.contact.cellphone}">
                            Phone: +55 (51) 993388532
                        </p>
                        <p th:text="'Address: ' + ${usr.contact.address}" th:if="${usr.contact.address}">
                            Address: Rua tal, número 26
                        </p>
                        <p th:text="${usr.contact.city} + ' - ' + ${usr.contact.state}" th:if="${usr.contact.city}">
                            Novo Hamburgo - RS
                        </p>
                        <div th:replace="fragments/template :: back-user-home">
                            <a class="paper-btn" th:href="'/user/' + ${currentUser}">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer  th:replace="fragments/template :: footer" />
        </center>
    </body>
</html>
