<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head th:replace="fragments/template :: headtag">
        <title>Portfy - Index</title>
    </head>

    <body th:object="${usr}">
        <center>

            <h2 th:text="'Portfy - ' + ${usr.username} + ' :D'" th:if="${currentUser}" />
            <h2 th:text="'Portfy - Index :D'" th:unless="${usr}"/>

            <div class="card card-container" th:if="${currentUser}">
                <h4 class="card-title">[[${usr.firstname}]] [[${usr.lastname}]]</h4>
                <div class="card-content">

                    <div class="card-photo" th:attr="title=${usr.picture.title}">
                        <img th:attr="src='img/' + ${usr.picture.filename}, alt=${usr.picture.alt}" />
                    </div>
                    <div class="card-text">
                        <p th:text="${usr.description}">
                            Here we'll show the user description. Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum
                        </p>
                    </div>
                </div>
            </div>

            <div class="card card-container" th:unless="${currentUser}">
                <h4 class="card-title">Search for an user!</h4>
                <div class="card-content center pd-10">
                    <form id="query-form">
                        <label for="username">User</label>
                        <input type="text" id="username" autofocus="autofocus"/>
                        <br/>
                        <input type="submit" value="Ok"/>
                    </form>
                </div>
            </div>

            <div style="margin-top:40px">
                <div th:if="${currentUser}">
                    <a class="paper-btn" th:href="${currentUser} + @{/projects}">Projects</a>
                    <a class="paper-btn" th:href="${currentUser} + @{/curriculum}">Curriculum</a>
                    <a class="paper-btn" th:href="${currentUser} + @{/contact}">Contact</a>
                    <div style="padding-bottom:30px; padding-top: 70px; margin-bottom:30px">
                        <a class="paper-btn" th:href="@{/}">Back to index</a>
                    </div>
                </div>
            </div>

        </center>

        <script>
            $(function () {
                $('#query-form').submit(function (e) {
                    e.preventDefault();
                    var usr = $('#username').val();
                    if (usr) {
                        new Ajax('exists/' + usr).get().then(function (d) {
                            window.location.href = d;
                        }, function (e) {
                            alert(e.responseText);
                            console.log(e);
                        });
                    } else {
                        alert("Please, provide an username to search");
                    }
                });
            });
        </script>

    </body>

</html>