/** Center elements */
.center, .center * {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
/** Adds a default size-10 padding */
.pd-10 {padding-top: 10px; padding-bottom: 20px;}
/** Card Component */
div.card-container {
    width: 430px;
}
h4.card-title {
    margin-bottom: 30px;
}
div.card-content {
    margin-top: 0;
}
div.card-photo {
    margin-bottom: 25px;
}
div.card-text {
    margin: 45px 35px 25px 35px;
    text-align: justify;
}
div.card-text p {
    text-indent: 23px;
}
/**./Card Component*/

/** Curriculum page */
.cv-container {
    
}
/**./Curriculum page */