<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head th:replace="fragments/template :: headtag">
        <title>Portfy - Skills</title>
    </head>

    <body>
        <h2 class="center">Portfy</h2>
        <div class="card" style="margin: auto 12px;">
            <!-- Card Title -->  
            <div class="card-title center">
                <h3>[[${usr.firstname + " " + usr.lastname}]] Skills</h3>
            </div>
            <!-- Card Body -->  
            <div class="card-body">
                <div class="card-content portfy-skill-container">
                    <div th:each="skill : ${skills}" class="portfy-skill">
                        <div class="portfy-skill-title">Skill: [[${skill.name}]]</div>
                        <div th:each="skillItem : ${skill.items}" class="portfy-skill-item-container">
                            <div th:replace="fragments/template.html :: skillItem(item=${skillItem})" th:remove="tag">
                                SkillItem: "name" <br/>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 35px; margin-bottom: 55px" class="center" th:fragment="back-user-home">
            <a class="paper-btn" th:href="'/user/' + ${currentUser}">Back</a>
        </div>
        <!-- Footer and scripts -->  
        <footer th:replace="fragments/template :: footer" />
        <script th:inline="javascript" th:if="${skills}">
            console.log([[${skills}]]);
        </script> 
    </body>
</html>
