<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head th:replace="fragments/template :: headtag">
        <title>Portfy - Curriculum</title>
    </head>

    <body>
        <center>

            <h2 th:text="'Portfy - ' + ${usr.username} + ' :D'" th:if="${usr}" />
            <h2 th:text="'Portfy - Curriculum :D'" th:unless="${usr}"/>

            <div>
                <div th:unless="${cv}">Curriculum not found...</div>
                <div th:if="${cv}">
                    <div class="cv-container" id="summary">
                        <h3>Curriculum info <small style="font-size:16px;">([[${cv.lastUpdate}]])</small> </h3>
                        <div th:text="${cv.summary}"></div>
                    </div>
                    <div class="cv-container" id="objectives">
                        <h3>Objectives</h3>
                        <div th:each="obj : ${cv.objectives}">
                            <p>[[${obj.objective}]]</p>
                        </div>
                    </div>
                    <div class="cv-container" id="personal-data">
                        <h3>Personal Data!</h3>
                        <div th:text="${cv.personalData.nacionality}"></div>
                        <div th:text="${cv.personalData.relationship}"></div>
                        <div th:text="${cv.personalData.address}"></div>
                        <div th:text="${cv.personalData.email}"></div>
                        <div th:text="${cv.personalData.phone}"></div>
                        <div th:text="${cv.personalData.birthDate}"></div>
                    </div>
                    <div class="cv-container" id="languages">
                        <h3>Languages</h3>
                        <div th:each="lang : ${cv.languages}">
                            <div th:text="${lang.language} + ' - ' + ${lang.fmtLevel()}"></div>
                        </div>
                    </div>
                    <div class="cv-container" id="formation">
                        <h3>Formation</h3>
                        <div th:each="fmt : ${cv.formations}">
                            <h5>[[${fmt.name}]] at [[${fmt.school}]] ([[${fmt.initialDate}]] to [[${fmt.finalDate}]])</h5>
                        </div>
                    </div>
                    <div class="cv-container" id="courses">
                        <h3>Courses</h3>
                        <div th:each="cr: ${cv.courses}">
                            <h5>[[${cr.name}]] at [[${cr.school}]] ([[${cr.duration}]]h) <small th:if="${cr.expirationDate}" th:text="${cr.expirationDate}"></small></h5>
                        </div>
                    </div>
                    <div class="cv-container" id="experiences">
                        <h3>Experience</h3>
                        <div th:each="exp : ${cv.experiences}">
                            <h5>[[${exp.jobRole}]] at [[${exp.company}]] ([[${exp.initialDate}]] to [[${exp.finalDate}]])</h5>
                            <span th:each="act : ${exp.activities}">
                                [[${act.activity}]]<br/>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="margin-top:30px">
                    <a class="paper-btn" th:href="'/user/' + ${currentUser}">Back</a>
                </div>
            </div>
        </center>
    </body>
</html>
